body {
    font-family: Arial, sans-serif;
    background-color: hsl( 0, 0%, 95% );
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm {
    margin: 20px;
}

.cityInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    color: hsla( 0, 0%, 20%, 0.3 );
    border-radius: 10px;
    margin: 15px;
    width: 250px;
}

.submitBtn {
    padding: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: hsl( 122, 39%, 50% );
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.submitBtn:hover{
    background-color: hsl( 122, 39%, 40% );
}

.card {
    background: linear-gradient( 180deg, hsl( 40, 100%, 75% ), hsl( 210, 100%, 75% ));
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px hsla( 0, 0%, 0%, 0.5 );
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}

p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: hsla( 0, 0%, 0%, 0.75 );
    margin-bottom: 25px;
}

.hummidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherEmoji {
    margin: 0;
    font-size: 7.5rem;
}

.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsla( 0, 0%, 0%, 0.75 );
}
